*{
    margin: 0px;
    padding: 0px;
}

body{
    font-size: 1em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #e6e6e6
}

#area-cabeçalho{
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

#area-logo, #area-menu{
    padding: 10px;
}

h1{
    color: #4e4e4e;
    font-size: 2.5em;
}

.branco{
    color: white;
}

a{
    text-decoration: none;
}

a:link, a:visited{
    color:#fff;
    padding: 8px 12px;
}

a:hover{
    color:#f7b600;
    background: #fff;
}

#area-principal{
    background-color: white;
    width:920px;
    margin: 0 auto;
}

#area-postagens,#area-lateral{
    background-color: orange;
}

#area-postagens{
    width: 660px;
    float: left;
}

#area-lateral{
    width: 240px;
    float:right;
}

#rodape{
    background-color: lightgray;
    clear: none;
    text-align:center;
    padding: 15px;
}

#Postagem{
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
}
h2{
    color: #f7b600;
}

.data-postagem{
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display:block
}

a:link, a:visited{
    color:#f7b600

}

a:hover{
    text-decoration: underline;
}

#area-cabeçalho a:link, #area-cabeçalho a:visited{
    color: #fff;
    padding: 8px 12px;
}

#area-cabeçalho a:hover{
    color: #f7b600;
    background: #fff;
    text-decoration: none;
}

h3{
    color:#565656;
    background-color: #ccc;
    padding: 5px;
}

.conteudo-lateral{
    background: white;
    padding: 10px;
    margin-bottom: 20px;
}


.postagem-lateral{
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px dotted #ccc;
}
